/* App.css */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes the full height of the column */
  }

  .img{
    height: 250px;
    width: 350px;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./bg.jpg');
    background-size: cover;
  }
  
